<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.2/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.2/js/bootstrap-toggle.min.js"></script>

<div class="jumbotron">
  <form #form="ngForm" (submit)="onSubmit(form)" autocomplete="off">
    <input type="hidden" name="id" #id="ngModel" [(ngModel)]="service.formData.id">
    <div class="form-group">
      <label>Title</label>
      <input name="Title" #Title="ngModel" [(ngModel)]="service.formData.title" required minlength="2" class="form-control" required>
      <div class="validation-error" *ngIf="service.formData.title.length == 0 ">This field is required.</div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <input name="Description" #Description="ngModel" [(ngModel)]="service.formData.description" class="form-control">
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label>Due Date</label>
        <input name="Due" #Due="ngModel" [(ngModel)]="service.formData.due" class="form-control">
      </div>
      <div class="form-group  col-md-6">
        <label>Done</label>
        <div></div>
        <label class="switch">
            <input type="checkbox" name="Done" #id="ngModel" [(ngModel)]="service.formData.done" 
            onclick="service.formData.done = !(service.formData.done)">
            <span class="slider"></span>
          </label>
      </div>
      
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid" class="btn btn-lg btn-block">SUBMIT</button>
    </div>
  </form>
</div>
