@import 'bootstrap/dist/css/bootstrap.css';

mat-grid-tile{
  background-color: #fff;
  padding: 32px;
}
.container
{
  display:flex;
  flex-direction: column;
  padding: 10px;
}
.flex-container .column
{
  padding: 10px;
  background-color: #4b647b;
  flex: 1;
}
.flex-container .column.bg-alt{
  background-color: #4b647b;
}
